<!-- First Row
=================-->

  <div class="row" style="margin-top: 90px">
    <div class="col-sm-12">
      <h3>Item Management</h3>
    </div>  
  </div>
  
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Manage Active Items</h4>
          <p class="card-text">Manage the lifecycle of active items and modify Item attributes.</p>
          <a href="/items" class="btn btn-primary">View</a>
        </div>
      </div>  
    </div>

    <div class="col-sm-4 col-md-4">
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Import Items</h4>
          <p class="card-text">Manage the lifecycle of active items and modify Item attributes.</p>
          <a href="/static_pages/import" class="btn btn-primary">Import</a>
        </div>
      </div>  
    </div>
  </div>
  
  <div class="row" style="margin-top: 90px">
    <div class="col-sm-12">
      <h3>Rate Management</h3>
    </div>  
  </div>
  
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Manage Rates</h4>
          <p class="card-text">Manage rate card attributes between zones.</p>
          <a href="/rates" class="btn btn-primary">View</a>
        </div>
      </div>  
    </div>

    <div class="col-sm-4 col-md-4">
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Import Rates</h4>
          <p class="card-text"><br>Import rate card for zip codes.</p>
          <a href="/static_pages/import" class="btn btn-primary">Import</a>
        </div>
      </div>
    </div>
  </div>