<h5 style="margin-top: 90px">API Calls Instructions</h5>
<hr style="margin-top: 0; margin-bottom: 60px;">

<dl class="dl-horizontal">
  <dt>Item Export</dt>
  <dd>https://ignitesaas.herokuapp.com/items.json</dd>
  <dt>Rate Export</dt>
  <dd>https://ignitesaas.herokuapp.com/rates.json</dd>
  <dt>API Query Parameters</dt>
  <dd>Item attributes can queried using skuid parameter.</dd>
  <dd>szip is the zipcode of the fulfilling warehouse.</dd>
  <dd>dzip is the customer's zip code.</dd>
  <dt>Simulate short distance profitable scenario</dt>
  <dd>https://ignitesaas.herokuapp.com/items.json?skuid=123&szip=33101&dzip=30301</dd>
  <dt>Simulate long distance unprofitable scenario</dt>
  <dd>https://ignitesaas.herokuapp.com/items.json?skuid=123&szip=33101&dzip=94101</dd>
</dl> 