<!DOCTYPE html>
<html>
  <head>
    <title>Ignite-Geo Spatial OMS</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container" id="main">
      <nav class="navbar navbar-fixed-top navbar-light bg-faded">
        <div class="container">
          <a class="navbar-brand" href="/static_pages/admin">IGNITE</a>
        </div><!-- end Container within Navbar --> 
      </nav><!-- end Navbar --> 
    
      <%= yield %>
    </div><!-- end main container -->
  </body>
</html>